{% extends 'base.html.twig' %}

{% block title %}Editar Acto - {{ parent() }}{% endblock %}

{% block body %}
    <br><br>
    <section class="content mx-2">
        <div class="container-fluid">
            <div class="row align-items-center mb-3 mb-xl-5">
                <div class="col-md mb-2 mb-md-0">
                    <h1 class="h3 mb-0">
                    <b>Editar Acto</b>                    
                    </h1>
                </div>

                <div class="col-md ml-md-auto text-md-right">
                    {% set r = acto.roles|length %}
                    {% set m = acto.movimientos|length %}
                    {% set pr = acto.presupuestos|length %}
                    {% set p = acto.pagos|length %}
                    {% if r == 0 and m == 0 and pr == 0 and p == 0 %}
                    <button class="btn btn-sm btn-outline-danger float-right" type="button" data-toggle="modal" data-target="#modalContent">
                    <i class="fas fa-trash-alt"></i> &nbsp; <span>Eliminar</span>
                    </button>
                    {% endif %}
                    <a class="btn btn-sm btn-secondary float-right" style="margin-right:15px;" href="{{ path('acto_show',{'id':acto.id}) }}">
                    <i class="fas fa-arrow-left"></i> &nbsp; Volver al Acto
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 align-items-center">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Editar Acto</h3>
                        </div>
                        <div class="card-body">
                            {{ include('actos/_form.html.twig') }}
                        </div>
                    </div>
                </div>    
            </div>    
        </div>
    </section>


{% endblock %}

{% block modal_content %}
  <div id="modalContent" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        {{ include('actos/_delete_form.html.twig', {"acto" : acto.id, 'tipo':acto.tipoActo.id }) }}
      </div>
    </div>
  </div>
{% endblock modal_content %}
